<?xml version="1.0" encoding="utf-8"?>
<?if $(sys.BUILDARCH) = x64 ?>
  <?define PFF = "ProgramFiles64Folder" ?>
<?else ?>
  <?define PFF = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="DCRTicketbuyerCommonFragment">
    <DirectoryRef Id="DCRTROOT">
      <!-- guid needed as no file to hash for automatic guid-->
      <Component Id="DCRTicketbuyerPath" Guid="cfa3f291-e6ab-4dde-bead-a65f8e809e91">
        <CreateFolder/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="DCRTicketbuyerCore">
      <ComponentGroupRef Id="DCRTicketbuyerCommonFiles" />
      <ComponentGroupRef Id="DCRTArchFiles" />
      <ComponentRef Id="DCRTicketbuyerPath" />
    </ComponentGroup>

  </Fragment>
</Wix>
