<?xml version="1.0" encoding="utf-8"?>
<?if $(sys.BUILDARCH) = x64 ?>
  <?define PFF = "ProgramFiles64Folder" ?>
<?else ?>
  <?define PFF = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="Dcrticketbuyer" Language="0" Version="$(var.Version)">

    <Package Id="85a7754f-a823-4f7e-8a92-97ddb102eb3e" AdminImage="no"
	 Description="Dcrticketbuyer merge module" Manufacturer="Company 0"
     InstallerVersion="200" InstallScope="perMachine"
     Platform="$(sys.BUILDARCH)" />

    <!-- dir structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PFF)">
        <!-- app suite install dir -->
        <Directory Id="APPSUITEDIR" Name="Decred">
          <!-- app install dir -->
          <Directory Id="DCRTROOT" Name="Dcrticketbuyer" />
        </Directory>
      </Directory>

      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppProgramMenuFolder" Name="Dcrticketbuyer" />
      </Directory>
    </Directory>

    <!-- harvested dcrticketbuyer files -->
    <ComponentGroupRef Id="DCRTicketbuyerCore" />

  </Module>
</Wix>
