<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.0.0-beta2" targetFramework="net45" />
  <package id="Grpc" version="0.13.0" targetFramework="net45" />
  <package id="Grpc.Core" version="0.13.0" targetFramework="net45" />
  <package id="grpc.native.csharp" version="0.13.0" targetFramework="net45" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net45" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.23" targetFramework="net45" />
  <package id="System.Collections" version="4.0.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net45" />
  <package id="System.IO" version="4.0.0" targetFramework="net45" />
  <package id="System.Linq" version="4.0.0" targetFramework="net45" />
  <package id="System.Linq.Expressions" version="4.0.0" targetFramework="net45" />
  <package id="System.ObjectModel" version="4.0.0" targetFramework="net45" />
  <package id="System.Reflection" version="4.0.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net45" />
  <package id="System.Text.Encoding" version="4.0.0" targetFramework="net45" />
  <package id="System.Text.RegularExpressions" version="4.0.0" targetFramework="net45" />
  <package id="System.Threading" version="4.0.0" targetFramework="net45" />
</packages>