cmd/movefunds/movefunds
cmd/repaircfilters/repaircfilters
cmd/sweepaccount/sweepaccount
cmd/treasurykey/treasurykey

/dcrwallet
vendor
*~
.vscode
.idea
rpc/tools/bin/
*.sw*
*.key
rpc/grpc_example/grpc_example
rpc/grpc_example/*.pem
rpc/rpc_example/rpc_example

# Temporary database files created by tests.
wallet/udb/*.kv
