language: go
sudo: false
env:
  - GO111MODULE=on
matrix:
  include:
    - os: linux
      go: 1.12.x
      cache:
        directories:
          - $HOME/.cache/go-build
          - $HOME/go/pkg/mod
    - os: linux
      go: 1.11.x
      cache:
        directories:
          - $HOME/.cache/go-build
          - $HOME/go/pkg/mod
script:
  - env GO111MODULE=on go build ./...
  - env GO111MODULE=on ./run_tests.sh
