<?xml version="1.0" encoding="utf-8"?>
<?if $(sys.BUILDARCH) = x64 ?>
  <?define ProductName = "Dcrd Standalone 64-bit" ?>
  <?define UpgradeCode = "a7811821-9376-497e-8bf3-adcf78a26b38" ?>
  <?define PFF = "ProgramFiles64Folder" ?>
<?else ?>
  <?define ProductName = "Dcrd Standalone" ?>
  <?define UpgradeCode = "6f1acdfb-1ebc-4880-a8a4-4cbd1371d4c5" ?>
  <?define PFF = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductName)"
   Version="$(var.Version)" Language="1033" Manufacturer="Company 0">

    <Package Description="Dcrd standalone installer" Manufacturer="Company 0"
     Compressed="yes" InstallerVersion="200" InstallScope="perMachine"
     Platform="$(sys.BUILDARCH)" />

    <Media Id="1" Cabinet="dcrdstandalone.cab" EmbedCab="yes" />

    <!-- XXXX Msix64 requires windows installer 3.1 -->
    <?if $(sys.BUILDARCH) = x86 ?>
      <Condition Message="This is the 32-bit installer.  Please use the 64-bit installer.">
        <![CDATA[NOT Msix64]]>
      </Condition>
    <?endif ?>

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <!-- dir structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PFF)">
        <!-- app suite install dir -->
        <Directory Id="APPSUITEDIR" Name="Decred">
          <!-- app install dir -->
          <Directory Id="DCRDROOT" Name="Dcrd" />
        </Directory>
      </Directory>

      <!-- Start Menu Folder -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppProgramMenuFolder" Name="Decred" />
      </Directory>
    </Directory>

    <!-- start menu shortcut -->
    <DirectoryRef Id="AppProgramMenuFolder">
      <Component Id="DCRDShortcuts" Guid="46004a5f-5800-48f0-815f-e0b33d53263b">
        <Shortcut Id="Dcrd" Name="Dcrd"
         Target="[DCRDROOT]\dcrd.exe"
         WorkingDirectory="DCRDROOT" />
        <RemoveFolder Id="DCRDMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Company 0\Dcrd"
         Name="installed" Value="1" Type="integer" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- use a stock dialog set -->
    <Property Id="WIXUI_INSTALLDIR" Value="DCRDROOT" />
    <UIRef Id="WixUI_Minimal" />
    <!--
    <Icon Id="icon" SourceFile="dcrd.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon" />
    -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

    <!-- main feature -->
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentGroupRef Id="DCRDCore" />
      <ComponentRef Id="DCRDShortcuts" />
    </Feature>
  </Product>
</Wix>
